#button .baseGeometry {
  display: block;
  border: none;
  padding: 10px 20px;
}
#button .baseText {
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
}
/* Main page styles */
body {
  background-color: #eefbf5;
}
.main-container {
  width: 960px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #20241e;
}
p {
  font-size: 0.9em;
  line-height: 1.3em;
}
a {
  color: #394035;
}
a:hover,
a:focus {
  color: #454e41;
}
.main-header {
  margin-bottom: 40px;
}
.main-footer {
  margin-top: 40px;
}
.centered {
  text-align: center;
}
/* Custom styles */
.presentation {
  color: #fff;
  background-color: #27aa6e;
}
.presentation-second .presentation-slides {
  height: 730px;
}
.presentation-slides {
  height: 500px;
}
.presentation-slides__slide {
  padding: 20px 40px 70px;
}
.presentation-slides__slide h1,
.presentation-slides__slide h2,
.presentation-slides__slide h3,
.presentation-slides__slide h4,
.presentation-slides__slide h5,
.presentation-slides__slide h6 {
  color: #daf6e9;
  text-shadow: 0 1px 0 #196c45;
}
.presentation-slides__slide p {
  color: #fff;
}
.presentation-slides__slide h1,
.presentation-slides__slide h2,
.presentation-slides__slide h3 {
  line-height: 1.2em;
}
.presentation-slides__slide h4,
.presentation-slides__slide h5,
.presentation-slides__slide h6 {
  line-height: 1.3em;
}
.presentation-slides__slide p {
  font-size: 0.9em;
  line-height: 1.4em;
}
.presentation-slides__slide a {
  color: #b0edd1;
}
.presentation-slides__slide a:hover,
.presentation-slides__slide a:focus {
  color: #72deac;
}
.presentation-slides__slide code {
  display: inline-block;
  padding: 0 10px;
  color: #454e41;
  background-color: #5ddaa0;
}
.presentation-slides__slide pre {
  padding: 15px;
  color: #454e41;
  background-color: #5ddaa0;
}
.presentation-slides__slide ul,
.presentation-slides__slide ol {
  padding-left: 20px;
  margin: 0.8em 0;
  font-size: 0.9em;
  line-height: 1.3em;
}
.presentation-slides__slide ul li,
.presentation-slides__slide ol li {
  margin-bottom: 0.3em;
}
.presentation-slides__slide ul {
  list-style: square;
}
.presentation-slides__slide table {
  width: 100%;
}
.presentation-slides__slide table th,
.presentation-slides__slide table td {
  padding: 5px 10px;
  font-size: 0.9em;
  line-height: 1.3em;
  vertical-align: top;
}
.presentation-slides__slide table th pre,
.presentation-slides__slide table td pre {
  margin: 0;
  padding: 5px;
  color: #daf6e9;
  background-color: #27aa6e;
}
.presentation-slides__slide table th code,
.presentation-slides__slide table td code {
  padding: 3px 10px;
  color: #daf6e9;
  background-color: #27aa6e;
}
.presentation-slides__slide table th a,
.presentation-slides__slide table td a {
  color: #145738;
}
.presentation-slides__slide table th a:hover,
.presentation-slides__slide table td a:hover,
.presentation-slides__slide table th a:focus,
.presentation-slides__slide table td a:focus {
  color: #0c3623;
}
.presentation-slides__slide table th {
  color: #c5f2dd;
  border: none;
}
.presentation-slides__slide table td {
  border: 1px solid #229560;
  color: #454e41;
  background-color: #5ddaa0;
}
.presentation-slides__slide img {
  max-width: 100%;
  height: auto;
}
.presentation-slides__slide q {
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 1em;
  border-left: 5px solid #5ddaa0;
  font-size: 0.9em;
  line-height: 1.4em;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.presentation-slides__slide q:before,
.presentation-slides__slide q:after {
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
.presentation-slides__slide q:before {
  content: open-quote;
  margin-right: 0.1em;
}
.presentation-slides__slide q:after {
  content: close-quote;
  margin-left: 0.1em;
}
.presentation-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #2cbe7b;
}
.presentation-progress-bar__count {
  height: 6px;
  background-color: #196c45;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.presentation__button_action_previous,
.presentation__button_action_next {
  color: #ffffff;
  text-shadow: 0 1px 0 #196c45;
  background-color: #27aa6e;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
  display: block;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 0;
  width: 20px;
}
.presentation__button_action_previous:hover,
.presentation__button_action_next:hover,
.presentation__button_action_previous:focus,
.presentation__button_action_next:focus {
  color: #ffffff;
  background-color: #229560;
  outline: none;
}
.presentation__button_action_previous_state_disabled,
.presentation__button_action_next_state_disabled {
  display: none;
}
.presentation__button_action_previous {
  left: -60px;
  -webkit-box-shadow: inset -5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
  -moz-box-shadow: inset -5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
  box-shadow: inset -5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
}
.presentation__button_action_next {
  right: -60px;
  -webkit-box-shadow: inset 5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
  -moz-box-shadow: inset 5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
  box-shadow: inset 5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
}
.presentation__button_action_fullscreen {
  position: absolute;
  bottom: 11px;
  right: 5px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 0 #196c45;
  background-color: rgba(0, 0, 0, 0.28);
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
  display: block;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
}
.presentation__button_action_fullscreen:hover,
.presentation__button_action_fullscreen:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  outline: none;
}
.presentation-navigation {
  position: absolute;
  bottom: 11px;
  left: 5px;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.presentation-navigation__item {
  display: inline-block;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 0 #196c45;
  background-color: rgba(0, 0, 0, 0.28);
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}
.presentation-navigation__item_state_active .presentation-navigation__text {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  outline: none;
}
.presentation-navigation__link,
.presentation-navigation__text {
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 0 rgba(25, 108, 69, 0.5);
}
.presentation-navigation__link {
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.presentation-navigation__link:hover,
.presentation-navigation__link:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  outline: none;
}
.presentation-navigation__text {
  cursor: default;
}
/* FullScreen styles */
.fullscreen-mode .presentation {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
.fullscreen-mode .presentation-slides {
  height: 100%;
}
.fullscreen-mode .presentation-slides__slide {
  padding: 60px 80px;
  font-size: 1.5em;
}
.fullscreen-mode .presentation__button_action_previous,
.fullscreen-mode .presentation__button_action_next {
  top: 5px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 0 rgba(25, 108, 69, 0.5);
  background-color: rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fullscreen-mode .presentation__button_action_previous:hover,
.fullscreen-mode .presentation__button_action_next:hover,
.fullscreen-mode .presentation__button_action_previous:focus,
.fullscreen-mode .presentation__button_action_next:focus {
  text-shadow: 0 1px 0 #196c45;
  background-color: rgba(0, 0, 0, 0.5);
}
.fullscreen-mode .presentation__button_action_previous {
  left: 5px;
}
.fullscreen-mode .presentation__button_action_next {
  right: 5px;
}
