body {
  font-size: 80%;
  background-color: #eefbf5;
}
.main-container {
  width: 960px;
  margin: 0 auto;
}
/* Presentations plugin styles */
.presentation-slides {
  overflow-y: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.presentation-slides__slide {
  display: none;
  max-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.presentation-slides__slide_state_active {
  display: block;
}
.presentation {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #fff;
  background-color: #27aa6e;
}
.presentation-progress-bar {
  overflow: hidden;
  height: 6px;
  background-color: #2cbe7b;
}
.presentation-progress-bar__count {
  width: 0;
  height: 6px;
  background-color: #196c45;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.presentation__button_action_previous,
.presentation__button_action_next {
  position: absolute;
  top: 0;
  display: block;
  width: 20px;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #196c45;
  text-align: center;
  background-color: #27aa6e;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.presentation__button_action_previous:hover,
.presentation__button_action_next:hover,
.presentation__button_action_previous:focus,
.presentation__button_action_next:focus {
  background-color: #229560;
  outline: none;
}
.presentation__button_action_previous_state_disabled,
.presentation__button_action_next_state_disabled {
  display: none;
}
.presentation__button_action_previous {
  left: -60px;
  -webkit-box-shadow: inset -5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
  -moz-box-shadow: inset -5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
  box-shadow: inset -5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
}
.presentation__button_action_next {
  right: -60px;
  -webkit-box-shadow: inset 5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
  -moz-box-shadow: inset 5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
  box-shadow: inset 5px 0 5px 0 rgba(25, 108, 69, 0.19999999999999996);
}
.presentation__button_action_fullscreen {
  position: absolute;
  bottom: 11px;
  right: 5px;
  padding: 10px 20px;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  line-height: 18px;
  text-shadow: 0 1px 0 rgba(25, 108, 69, 0.5);
  background-color: rgba(0, 0, 0, 0.28);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.presentation__button_action_fullscreen:hover,
.presentation__button_action_fullscreen:focus {
  color: #fff;
  text-shadow: 0 1px 0 #196c45;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}
.presentation-navigation {
  position: absolute;
  bottom: 11px;
  left: 5px;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.presentation-navigation__item {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.28);
}
.presentation-navigation__item_state_active .presentation-navigation__text {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.presentation-navigation__link,
.presentation-navigation__text {
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 18px;
  text-shadow: 0 1px 0 rgba(25, 108, 69, 0.5);
}
.presentation-navigation__link {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.presentation-navigation__link:hover,
.presentation-navigation__link:focus {
  color: #fff;
  text-shadow: 0 1px 0 #196c45;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}
.presentation-navigation__text {
  cursor: default;
}
.presentation-slides {
  height: 500px;
}
.presentation-slides__slide {
  padding: 20px 40px;
}
.fullscreen-mode .presentation {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
.fullscreen-mode .presentation-slides {
  height: 100%;
}
.fullscreen-mode .presentation-slides__slide {
  padding: 60px 80px;
}
.fullscreen-mode .presentation__button_action_previous,
.fullscreen-mode .presentation__button_action_next {
  top: 5px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 0 rgba(25, 108, 69, 0.5);
  background-color: rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fullscreen-mode .presentation__button_action_previous:hover,
.fullscreen-mode .presentation__button_action_next:hover,
.fullscreen-mode .presentation__button_action_previous:focus,
.fullscreen-mode .presentation__button_action_next:focus {
  color: #fff;
  text-shadow: 0 1px 0 #196c45;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}
.fullscreen-mode .presentation__button_action_previous {
  left: 5px;
}
.fullscreen-mode .presentation__button_action_next {
  right: 5px;
}
.fullscreen-mode .presentation-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
